$border-red: 1px solid #fa535c;
$border-black: 1px solid #1c1c1c;
$border-white: 1px solid #fff;
$border-purple: 1px solid #951b81;
$border-purple-dark: 1px solid #662483;
$border-orange: 1px solid #e94e1b;
