@import "partials.scss";
@import "_color.scss";
@import "_border.scss";

body {
    background-color: $black;
}
.login {
    h1 {
        a {
            height: 96px;
            background-image: url('../images/logo.png');
        }
    }
    #login_error, .message {
        border-color: $orange;
    }
}
