@import "partials.scss";
@import "_color.scss";
@import "_border.scss";

html, body {
    height: 100%;
}
body {
    font-family: 'Lato', sans-serif;
}

h1 {
    color: $white;
    font-size: 60px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
h2, .titre-h2 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
a {
    display: inline-block;
}

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #1c1c1c;
    background-size: cover;
    background-position: 50% 50%;

    .head-particles {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 300px;
        height: 500px;

        span {
            position: relative;
            display: block;
            width: 100px;
            height: 100px;
            line-height: 100px;
            margin: auto;
            color: $white;
            font-size: 48px;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                width: 100px;
                height: 100px;
                border: $border-white;
                transform: rotate(45deg);
            }
        }

        h1 {
            font-size: 30px;
            margin-top: 60px;
        }

        p {
            font-size: 25px;
            color: $white;
            font-weight: 100;
        }
    }
    .scrollBot {
        position: absolute;
        width: 50px;
        height: 70px;
        line-height: 45px;
        border: $border-orange;
        border-radius: 30px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 80px;
        text-align: center;
        a {
            display: inline-block;
            font-size: 40px;
            color: $orange;
            i {
                animation: bouncy 1.5s infinite ease-in-out;
            }
        }
    }
}

@keyframes bouncy {
  50% {
    transform: translate(0, 20px);
  }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border-bottom: $border-orange;
    background: $white;

    #logo {
        float: left;
        width: 70px;
        padding: 5px;
    }
    nav {
        position: absolute;
        top: -999px;
        right: 0;
        bottom: 0;
        left: 0;
        width: 90%;
        height: 90%;
        margin: auto;
        background: $white;
        z-index: -999;
        ul {
            height: 100%;
            li {
                display: block;
                a {
                    color: $black;
                    font-size: 16px;
                }
            }
        }
    }
    nav.activ {
        position: fixed;
        top: 0;
        z-index: 0;
    }
    .btn-menu {
        position: relative;
        float: right;
        margin-top: 15px;
        background: $black;
    }
}

.title-first {
    .a-propos {
        background: $black;
        padding-bottom: 20px;
        h2 {
            color: $white;
        }
        .content-article {
            padding: 20px;
        }
        .content {
            padding: 20px 0;
            border-top: $border-orange;
            border-bottom: $border-orange;
            p {
                margin-bottom: 0;
                color: $white;
                font-size: 14px;
                font-weight: 100;
                font-size: 14px;
            }
        }
        .thumbnail {
            margin: auto;
            text-align: center;
        }
        .social {
            padding: 5px 0 0 0;
            a {
                display: inline-block;
                width: 30px;
                height: 30px;
                margin-right: 5px;
                line-height: 30px;
                text-align: center;
                background: $orange;
                i {
                    color: $white;
                }
            }
            a:last-child {
                margin-right: 0;
            }
        }
    }
}
.title-second {
    .portfolio {
        margin-top: 140px;
        .article-thumbnail {
            position: relative;
            overflow: hidden;
            .thumbnail {
                height: 260px;
                overflow: hidden;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $black-transparent;
                }
            }
            .article-link {
                position: absolute;
                bottom: -75%;
                width: 100%;
                height: 100%;
                padding: 10px 20px;
                background: $white;
                h3 {
                    margin-bottom: 0;
                    font-size: 22px;
                }
                .btn {
                    padding: 12px;
                    i {
                        color: $white;
                    }
                }
                .content-article {
                    padding: 10px 0;
                    a {
                        display: inline-block;
                        color: $white;
                    }
                }
            }
            .article-link.show {
                position: absolute;
                bottom: 0%;
                .btn {
                    i {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    .competences {
        margin-top: 140px;
        .title {
            .left {
                font-size: 20px;
                font-weight: 700;
            }
            .right {
                font-size: 16px;
                font-weight: 400px;
            }
        }
        .progress-bar {
            width: 100%;
            height: 15px;
            margin: 20px auto;
            .bar {
                width: 0;
                height: 15px;
            }
        }
    }
    .raw {
        .list-skills {
            margin: 20px auto;
        }
        .list-skills.activ {
            .progress-bar {
                .bar10 {
                    width: 10%;
                }
                .bar20 {
                    width: 20%;
                }
                .bar30 {
                    width: 30%;
                }
                .bar40 {
                    width: 40%;
                }
                .bar50 {
                    width: 50%;
                }
                .bar60 {
                    width: 60%;
                }
                .bar70 {
                    width: 70%;
                }
                .bar75 {
                    width: 75%;
                }
                .bar80 {
                    width: 80%;
                }
                .bar90 {
                    width: 90%;
                }
                .bar100 {
                    width: 100%;
                }
            }
        }
    }
}

.experciences {
    padding-bottom: 20px;
    h2 {
        color: $white;
    }
    p {
        color: $white;
        .societe {
            color: $orange;
            font-weight: 700;
            font-size: 18px;
        }
        .date {
            color: $bleu;
            font-weight: 500;
        }
    }
    background: $black;
    .logo {
    text-align: center;
    margin-bottom: 20px;
    }
    .even, .odd {
        padding: 20px 0;
        a {
            display: inline-block;
            color: $white;
        }
    }
}

#contact {
    h1 {
        color: $black;
    }
}

footer {
    border-top: $border-orange;
    .footer-logo {
        text-align: center;
        a {
            img {
                width: 90px;
            }
        }
    }
    .follow {
        ul {
            li {
                margin-bottom: 10px;
                a {
                    position: relative;
                    width: 120px;
                    height: 30px;
                    line-height: 30px;
                    text-align: left;
                    padding-left: 40px;
                    color: $white;
                    i {
                        position: absolute;
                        left: 0;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        background: $black;
                        color: $white;
                    }
                }
                a:hover, a:focus {
                    width: 150px;
                }
            }
        }
    }
    .contact {
        a {
            color: $white;
        }
    }
    .mentions {
        background: $black;
        margin-top: 20px;
        padding: 20px 0;
        p {
            margin-bottom: 0;
            color: $white;
            a {
                color: $white;
            }
        }
    }
}

@media all and (min-width: 640px) {
    #particles-js {
        .head-particles {
            width: 400px;
            height: 515px;

            span {
                width: 170px;
                height: 170px;
                line-height: 170px;

                &:before {
                    width: 170px;
                    height: 170px;
                }
            }

            h1 {
                font-size: 40px;
            }

            p {
                font-size: 30px;
            }
        }
    }
    .title-second {
        .portfolio {
            .article-thumbnail {
                .article-link {
                    h3 {
                        font-size: 26px;
                    }
                }
            }
        }
    }
    .experciences {
        .even, .odd {
            border-top: $border-orange;
        }
        .even:first-child {
            border-top: none;
        }
    }
}

@media all and (min-width: 768px) {
    #particles-js {
        .head-particles {
            width: 600px;
            height: 560px;

            h1 {
                font-size: 60px;
            }

            p {
                font-size: 50px;
            }
        }
    }

    header {
        nav {
            display: block;
            height: 79px;
            position: inherit;
            ul {
                li {
                    display: inline-block;
                }
            }
        }
    }
}

@media all and (min-width: 992px) {
    .experciences {
        .even, .odd {
            margin-bottom: 0;
            padding: 20px 0;
            .logo {
                margin-top: 10px;
                margin-bottom: 0;
            }
            .link {
                padding: 50px 0;
                text-align: center;
            }
            .btn {
                padding: 8px 10px;
            }
        }
        .odd {
            .logo, .link, .content {
                float: right;
            }
        }
    }
}

@media all and (min-width: 1200px) {
    .title-first {
        .a-propos {
            margin-top: 50px;
            padding-bottom: 0;
            .thumbnail {
                position: absolute;
                right: 20px;
                top: -30px;
            }
        }
    }
    .experciences {
        .even, .odd {
            .logo {
                margin-top: 0;
            }
            .link {
                padding: 40px 0;
            }
        }
    }
}

@media all and (min-width: 1400px) {
    .title-first {
        .a-propos {
            .thumbnail {
                right: 50px;
                top: -50px;
            }
        }
    }
}

@media all and (min-width: 1600px) {
    .title-first {
        .a-propos {
            margin-top: 110px;
            .thumbnail {
                right: 90px;
                top: -70px;
            }
        }
    }
}
